@keyframes item_1 {
	from {
		transform: translate(480px, 180px) rotate(0);
	}

	to {

	}

}

@keyframes item_2 {
	from {
		transform: translate(480px, 180px) rotate(0);
	}

	to {

	}

}

@keyframes item_3 {
	from {
		transform: translate(480px, 180px) rotate(0);
	}

	to {
		
	}

}

@keyframes item_4 {
	from {
		transform: translate(480px, 180px) rotate(0);
	}

	to {
		
	}

}

@keyframes item_5 {
	from {
		transform: translate(480px, 180px) rotate(0);
	}

	to {
		
	}

}